.nice-block {
    height: 40px;
    overflow: hidden;
    width: 100px;
    padding: 10px;
    background: pink;
    margin: 20px;
}


.more {
    height: auto;
    overflow: visible;
}

.nice-block span {
    cursor: pointer;
    color: darkviolet;
}

.popup-tip {
    position: absolute;
    background: black;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    display: none;
    z-index: 500;
}